<!-- Extend base html file -->
{% extends 'mainapp/base.html' %}
<!--  -->
{% load custom_filters %}

<!-- Customize title -->

{% block title %} Videos List {% endblock %}

<!-- Customize body -->
{% block body %}

<!-- Unordered list -->
<ul>
  <!-- Render each video -->
  {% for video in videos %}

  <!-- Render Video url -->
  <li>{{ video.video_file.url|getFileName }}</li>
  <video
    height="200px"
    width="600px"
    preload="auto"
    style="margin-bottom: 30px; border: 4px solid black"
    controls
    preload="auto"
  >
    <source src=" {{ video.video_file.url }} " type="video/mp4" />
    <source src=" {{ video.video_file.url }} " type="video/ogg" />
  </video>
  <p>{{ video.subtitles_data }}</p>
</ul>
<!-- If no items -->
{% empty %}
<p>NO Content Yet</p>
<!-- End for loop -->
{% endfor %}

<!-- End block -->
{% endblock %}
